<h1>Karma Chameleon</h1>
<form name="newPostForm" novalidate>
  <textarea placeholder="I think..." ng-model="newPost.body" ng-keydown="createPost($event)"required></textarea>
  <input type="submit" value="Suggest" ng-click="createPost($event)" ng-disabled="newPostForm.$invalid">
</form>
<div class="section-title">
  <h2>Suggestions</h2>
  <a href ng-class="sortClass('-createdAt')" ng-click="predicate = '-createdAt'">Recent</a> | <a href ng-class="sortClass('createdAt')" ng-click="predicate = 'createdAt'">Popular</a>
</div>
<section class="posts">
  <div class="post" ng-repeat="post in posts | orderBy:predicate">
    <div>{{ post.body }}</div>
    <div class="time-ago" am-time-ago="post.createdAt"></div>
  </div>
</section>