<h1>Karma Chameleon</h1>
<form name="createSuggestionForm" novalidate>
  <textarea placeholder="I think..." ng-model="ctrl.newSuggestion.body" required ng-minlength="10"></textarea>
  <input type="submit" value="Suggest" ng-click="ctrl.createSuggestion(ctrl.newSuggestion)" ng-disabled="createSuggestionForm.$invalid">
</form>
<div class="section-title">
  <h2>Suggestions</h2>
</div>
<section class="suggestions">
  <div class="suggestion" ng-repeat="suggestion in ctrl.suggestions">
    <div class="suggestion-main">
      {{ suggestion.body }}
    </div>
    <div class="votes">
      <!-- TODO voting -->
    </div>
  </div>
</section>
